<%= link_to "RSS Feed", blogposts_url(:rss) %>

<% @blogposts.each do |blogpost| %>
    <h2><%= link_to blogpost.title, blogpost.menu.url %></h2>
    <%= raw blogpost.body %>
    <i><%= blogpost.updated_at %></i>
<% end %>

<%= will_paginate @blogposts %>
