<%= link_to "RSS Feed", blog_url(:rss) %>

<% @blogposts.each do |blogpost| %>
    <h2><%= link_to blogpost.title, page_show_path(blogpost) %></h2>
    <%= raw blogpost.body %>
    <i><%= blogpost.updated_at %></i>
<% end %>

<%= will_paginate @blogposts %>
