<h2><%= @content.title %></h2>

<div class="wyswyg-content">
  <%= raw @content.body %>
</div>

<div>
  <small><%= l(@content.updated_at, format: :long) %></small>
</div>

<br>

<table class="table table-condensed _table-bordered table-hover">
    <% @content.attached_documents.each do |doc| %>
      <tr>
        <td><i class="icon-file"></i> <%= link_to File.basename(doc.document.url), doc.document.url, target: "_blank" %></td>
        <td class="span3"><%= l(doc.updated_at, format: :long) %></td>
      </tr>
    <% end %>
</table>

<div class="gallery">
  <ul class="thumbnails">
    <% @content.attached_pictures.each_with_index do |pic,index| %>
        <li class="<%= index == 0 ? "span2" : "span1" %>">
            <%= link_to image_tag(pic.picture.url + '?version=thumb'), pic.picture.url, target: "_blank", class: "thumbnail", rel: "lightbox-group1" %>
        </li>
    <% end %>
  </ul>
</div>
