<!DOCTYPE html>
<html>
<head>
  <title><%= SITE[:title] %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <style>
    body{
        background: <%= raw SITE[:background] %>;
    }
    .site-header{
        background: <%= raw SITE[:header_background] %>;
    }
    .site-header h1, .site-header h2{
        color: <%= raw SITE[:header_font] %> !important;
    }
  </style>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="site-header span12">
          <h1><%= SITE[:title] %></h1>
          <h2><%= SITE[:subtitle] %></h2>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <%= render partial: "shared/navigation" %>
        </div>
        <div class="span8">
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
</body>
</html>
