<!DOCTYPE html>
<html>
<head>
  <title><%= SITE[:title] %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="navigation">
        <%= render partial: "shared/navigation" %>
    </div>

    <div class="container">
        <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
</body>
</html>
