<!DOCTYPE html>
<html>
<head>
  <title>CseppCsk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <div id="navigation">
        <%= render partial: "shared/navigation" %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
